openapi: 3.0.0
info:
  title: demo-slap Public API
  version: 2.4.0
  description: |
    Welcome to the demo-slap Public API! For access and support, please join our Discord community: [https://discord.gg/8nfh26W9wQ](https://discord.gg/8nfh26W9wQ)

    ## ID Glossary

    The pipeline produces four distinct id types. Mixing them up is the #1 source of `400` errors, so use this table when wiring the endpoints together:

    | Id type             | Issued by                                | Consumed as                                                              | Example                  |
    |---------------------|------------------------------------------|--------------------------------------------------------------------------|--------------------------|
    | **analyze jobId**   | `POST /public-api/analyze/url`           | path `{jobId}` for `/analyze/*`, `/render/*`, `/render-fragmovie` (POST) | `691798e0ae42cabe76b076d9` |
    | **highlight id**    | `GET /public-api/analyze/{jobId}/data` (`highlights[].id`) | `RenderClipsRequest.highlightIds` on `POST /render/{jobId}`             | `69f23f11074495fe67b6f932` |
    | **video jobId**     | `POST /public-api/render/{jobId}` or `POST /public-api/render-custom/{jobId}` (`RenderJobResponse.jobIds[]`) | keys of `/render/{jobId}/status` and `/render/{jobId}/data`; `RenderFragMovieRequest.videoJobIds` on `POST /render-fragmovie/{jobId}` | `65f0a1b2c3d4e5f600000123` |
    | **fragmovie-export id** | `POST /public-api/render-fragmovie/{jobId}` (`FragMovieJobResponse.jobId`) | path `{jobId}` for `/render-fragmovie/{jobId}/status` and `/render-fragmovie/{jobId}/data` | `65f0a1b2c3d4e5f600000900` |

    Note that the **path** `{jobId}` segment means different things depending on the endpoint:
      * `/analyze/{jobId}/*`, `/render/{jobId}`, `/render-custom/{jobId}`, `/render/{jobId}/*`, `/render-fragmovie/{jobId}` (POST) → **analyze jobId**
      * `/render-fragmovie/{jobId}/status`, `/render-fragmovie/{jobId}/data` → **fragmovie-export id**

    The `POST /render-custom/{jobId}` endpoint selects clips by `(tick, duration, povSteamId)` instead of analyzer-detected highlight ids. Its POV `steamId` is the participant SteamID64 from `GET /public-api/matches` (`teamA.players[].steamId`, `teamB.players[].steamId`). Output (status + signed URLs) is retrieved from the SAME `/render/{jobId}/status` and `/render/{jobId}/data` endpoints as `POST /render/{jobId}` — both selectors share one status/data surface.

    ## 2.4.0 additive change

    `GET /public-api/render/{jobId}/status` (`RenderJobStatusResponse`) entries gained an optional `errorMessage` field, present only when `status` is `error`. It contains a user-friendly description of the render failure (e.g. demo incompatible with the current renderer, demo download failed, renderer temporarily unavailable). Non-breaking: the field is additive and optional, existing clients keep working unchanged.

    ## 2.3.0 pricing change

    Custom-render pricing no longer applies the public API reduced-pricing discount. `POST /public-api/custom-credits-calc` and `POST /public-api/render-custom/{jobId}` now both charge the full per-second custom-render formula: ~0.1 credits/s base, × 1.5 for `highResolution`, × 1.5 for `hideWatermark`, with a 1-credit floor.

    ## 2.2.0 additive change

    `GET /public-api/analyze/{jobId}/data` (`AnalyzeDataResponse`) gained the fields needed to drive `POST /public-api/render-custom/{jobId}` directly from the analyze response — no extra `/matches` call required:

    * `tickRate` (top-level): demo tick rate, for converting seconds ↔ ticks.
    * `participants[]` (top-level): the valid set of `povSteamId` values for custom-render (mirrors `match.startPlayers`).
    * `highlights[].startTick`, `highlights[].endTick`: clip-window hints (first/last kill tick of the highlight).
    * `highlights[].kills[].tick`: absolute demo tick of each kill — the value to feed into `CustomClipRequest.tick` (after subtracting your desired lead-in).
    * `highlights[].kills[].killerSteamId`: convenience alias for the parent highlight's killer SteamID64 (a valid `CustomClipRequest.povSteamId`).
    * `highlights[].kills[].isHeadshot`, `noScope`, `throughSmoke`, `isWallBang`: per-kill flags exposed from the analyzer for client-side filtering (e.g. "render every wallbang", "headshots only").

    All additions are non-breaking — fields are added to existing schemas, no field renames, no required fields removed. Existing clients keep working unchanged.

    ## 2.1.0 additive change

    New endpoint `POST /public-api/render-custom/{jobId}` accepts caller-defined clips selected by `(tick, duration, povSteamId)` tuples instead of analyzer-detected highlight ids. Same response shape as `POST /render/{jobId}` (`RenderJobResponse.jobIds[]`) and same `/render/{jobId}/status` and `/render/{jobId}/data` status/data endpoints — the new path only changes the selector. Existing clients are unaffected.

    ## 2.0.0 breaking change

    `RenderFragMovieRequest.highlightIds` was renamed to `videoJobIds`. Existing 1.x clients calling `POST /public-api/render-fragmovie/{jobId}` with `highlightIds` will receive `400 Need videoJobIds`. The new name reflects what the field actually accepts (video jobIds from `/public-api/render/{jobId}`, not analyze highlight ids).
servers:
  - url: https://api.demo-slap.net

paths:
  /public-api/matches:
    get:
      tags:
        - Match
      summary: Get user matches
      description: Retrieve a paginated list of matches for the authenticated user.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number for pagination.
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 10
          description: Number of matches per page.
      responses:
        '200':
          description: A paginated list of user matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMatchResponse'
        '401':
          description: API key missing or invalid
  /public-api/credits-calc:
    post:
      tags:
        - Calculate
      summary: Calculate credit costs for highlight clip rendering
      description: |
        Calculate how many credits a `POST /render/{jobId}` job would
        cost. Use `POST /custom-credits-calc` for pricing custom
        (tick/duration/POV) renders, and `POST /fragmovie-credits-calc`
        for the stitched fragmovie export cost.
      security:
        - ApiKeyAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditsCalcRequest'
      responses:
        '200':
          description: Credit cost
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsCalcResponse'
        '401':
          description: API key missing or invalid
  /public-api/custom-credits-calc:
    post:
      tags:
        - Calculate
      summary: Calculate credit costs for custom (tick/duration/POV) clip rendering
      description: |
        Calculate how many credits a `POST /render-custom/{jobId}` job
        would cost. Body shape is identical to `RenderCustomClipsRequest`
        (minus the path-bound analyze jobId), so callers can copy-paste
        the same payload they intend to render and see the exact cost
        without queuing a job.

        Pricing is per-second of rendered video (~0.1 credits/s base,
        then × 1.5 for `highResolution`, × 1.5 for `hideWatermark`, with
        a 1-credit floor). Only `duration` affects cost — `tick` and `povSteamId`
        are accepted for payload symmetry but ignored.
      security:
        - ApiKeyAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCreditsCalcRequest'
      responses:
        '200':
          description: Credit cost
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsCalcResponse'
        '400':
          description: customClips missing or empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
  /public-api/fragmovie-credits-calc:
    post:
      tags:
        - Calculate
      summary: Calculate credit costs for fragmovie rendering
      description: |
        Calculate how many credits a render_fragmovie job would cost for
        already-rendered clips. The `videoJobIds` must be ids returned by
        `POST /public-api/render/{jobId}` whose render status is already
        `done`; highlight ids from analyze data are not valid here.
      security:
        - ApiKeyAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FragMovieCreditsCalcRequest'
      responses:
        '200':
          description: Credit cost
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsCalcResponse'
        '401':
          description: API key missing or invalid
        '400':
          description: No rendered clips found for the supplied videoJobIds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /public-api/analyze/url:
    post:
      tags:
        - Analyze
      summary: Queue analysis for a demo
      description: Starts analysis for a demo provided by URL.
      security:
        - ApiKeyAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Analysis job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeJobResponse'
        '401':
          description: API key missing or invalid
  /public-api/analyze/{jobId}/status:
    get:
      tags:
        - Analyze
      summary: Get analyze job status
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      responses:
        '200':
          description: Analyze job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeJobStatusResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Analyze job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /public-api/analyze/{jobId}/data:
    get:
      tags:
        - Analyze
      summary: Get analyze results (highlights metadata)
      description: |
        Returns structured highlight metadata when status is `done`.
        Each `highlights[].id` is a **highlight (scene) id** — pass
        these in `RenderClipsRequest.highlightIds` to
        `POST /render/{jobId}` to render clips.

        The response also carries everything needed to drive
        `POST /render-custom/{jobId}` directly (no extra `/matches`
        call required):

        * top-level `tickRate` + `participants[]` give you the
          conversion factor and the valid set of `povSteamId` values.
        * `highlights[].startTick` / `endTick` and
          `highlights[].kills[].tick` give the raw demo ticks to feed
          into `CustomClipRequest.tick`.
        * `highlights[].kills[].killerSteamId` is a convenient default
          for `CustomClipRequest.povSteamId`.
        * Per-kill flags (`isHeadshot`, `noScope`, `throughSmoke`,
          `isWallBang`) let a custom renderer filter before deciding
          which clips to queue.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      responses:
        '200':
          description: Analyze results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeDataResponse'
        '409':
          description: Analysis not complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Analyze job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render/{jobId}:
    post:
      tags:
        - Render
      summary: Queue a render job from analyzed highlights
      description: |
        Queue one MP4 render per highlight (scene) selected from the
        analyze output. Returns immediately with a list of **video
        jobIds**; rendering runs in the background.

        Path `{jobId}` is the **analyze jobId** (scopes which match's
        highlights are accepted). The `highlightIds` body field is the
        **highlight (scene) ids** from
        `AnalyzeDataResponse.highlights[].id`. The response `jobIds`
        are the new **video jobIds** in their own id space.

        If you already know the exact tick window you want (no
        analyzer-detected highlight needed), use
        `POST /public-api/render-custom/{jobId}` instead — same
        response shape and same `/render/{jobId}/status` and
        `/render/{jobId}/data` surface for polling and retrieval.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenderClipsRequest'
      responses:
        '200':
          description: |
            Render job accepted. The returned `jobIds` are **video
            jobIds** — a new id space, NOT the analyze jobId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJobResponse'
        '400':
          description: Validation error (invalid highlight ids or missing jobId)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Analyze data not found for given jobId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render-custom/{jobId}:
    post:
      tags:
        - Render
      summary: Queue a render job from caller-defined (tick/duration/POV) clips
      description: |
        Queue one MP4 render per caller-defined clip. Sibling of
        `POST /render/{jobId}` for when you already know the exact tick
        window you want and don't need an analyzer-detected highlight
        (e.g. driving the pipeline from your own kill-feed parser, an
        external highlight detector, or a player-driven moment).

        Path `{jobId}` is the **analyze jobId** (the match providing
        tick/round/POV context). The `customClips` body field is an
        array of `{ tick, duration, povSteamId }` tuples — each entry
        renders to exactly one MP4 starting at `tick` for `duration`
        seconds from `povSteamId`'s point of view.

        The response `jobIds` are **video jobIds** in the same id space
        as `POST /render/{jobId}` — poll them via
        `/render/{jobId}/status` and retrieve signed URLs via
        `/render/{jobId}/data`. Both endpoints share the same
        status/data surface.

        **Validation** (rejected with `400` before any credits are
        charged):
          * `tick` must lie inside an actual round
            (`round.startTick ≤ tick ≤ round.endTick`). Ticks in the
            freeze-time gap between rounds return `400` with a hint
            naming the surrounding rounds so the caller can adjust.
          * `duration` must be greater than `0` and at most `60`
            seconds. `tick + duration*tickRate` must still fit inside
            the demo end.
          * `povSteamId` must be a participant of the match (must
            appear in the player lists returned by
            `/public-api/matches`).
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenderCustomClipsRequest'
      responses:
        '200':
          description: |
            Render job accepted. The returned `jobIds` are **video
            jobIds** — same id space as `POST /render/{jobId}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJobResponse'
        '400':
          description: |
            Validation error: missing `customClips`, tick outside a
            round, duration out of range, POV is not a participant of
            the match, or insufficient credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Analyze data not found for given jobId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render/{jobId}/status:
    get:
      tags:
        - Render
      summary: Get render job status
      description: |
        Returns a map of **video jobId** → status for clip videos on
        this analyze job (covers clips queued by both
        `POST /render/{jobId}` and `POST /render-custom/{jobId}`). Path
        `{jobId}` is the **analyze jobId**, not a video jobId — the
        video jobIds appear as the keys of the response object.
        Compare the keys with the
        `jobIds` returned by your `POST /render/{jobId}` call.

        Entries with `status: error` additionally carry an
        `errorMessage` with a user-friendly description of the
        failure — surface it to the user.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      responses:
        '200':
          description: Render job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJobStatusResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Render job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render/{jobId}/data:
    get:
      tags:
        - Render
      summary: Get rendered clip URLs
      description: |
        Returns clip URLs and per-clip duration for rendered clip
        videos on this analyze job (covers clips queued by both
        `POST /render/{jobId}` and `POST /render-custom/{jobId}`).
        Path `{jobId}` is the **analyze jobId** — the keys inside
        `highlightClips` are **video jobIds**. Call this after
        `GET /render/{jobId}/status` reports `done` for the specific
        video jobIds you plan to use.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      responses:
        '200':
          description: Rendered clips
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderDataResponse'
        '409':
          description: Render not complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Render job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render-fragmovie/{jobId}:
    post:
      tags:
        - Fragmovie
      summary: Stitch already-rendered clips into a fragmovie
      description: |
        Stitches a set of already-rendered video clips into a single
        fragmovie MP4.

        **Prerequisite pipeline:**
          1. `POST /public-api/analyze/url` → analyze jobId
          2. `POST /public-api/render/{jobId}` → array of video jobIds
          3. Wait until every video jobId is `done` via
             `/public-api/render/{jobId}/status`
          4. Pass those video jobIds as `videoJobIds` to **this**
             endpoint. The path `{jobId}` is the analyze jobId from step 1.

        Analyze highlight (scene) ids and unfinished clips are rejected
        with 400 before any credits are deducted. See
        `RenderFragMovieRequest.videoJobIds` for the full description.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`). Path scoping only — the actual
            clips to stitch come from `videoJobIds` in the body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenderFragMovieRequest'
      responses:
        '200':
          description: |
            Fragmovie render job accepted. The returned `jobId` is a
            **fragmovie-export id** (a new id space) — use it as the path
            `{jobId}` for `/render-fragmovie/{jobId}/status` and
            `/render-fragmovie/{jobId}/data`. It is NOT the analyze
            jobId you passed in the request path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FragMovieJobResponse'
        '400':
          description: |
            Validation error. Common causes:
              * `videoJobIds` empty or missing
              * none of the supplied `videoJobIds` resolve to a
                rendered FragMovie clip belonging to the user (e.g. the
                caller passed analyze highlight ids instead of video
                jobIds, or the underlying renders are still in progress).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Analyze data not found for given jobId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render-fragmovie/{jobId}/status:
    get:
      tags:
        - Fragmovie
      summary: Get fragmovie render job status
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Fragmovie-export id** — the `jobId` returned in the body of
            `POST /render-fragmovie/{jobId}` (`FragMovieJobResponse.jobId`).
            NOT the analyze jobId from `/analyze/url`.
      responses:
        '200':
          description: Fragmovie render job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeJobStatusResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Render job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render-fragmovie/{jobId}/data:
    get:
      tags:
        - Fragmovie
      summary: Get rendered fragmovie URL
      description: Returns fragmovie URL after the render job is done.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Fragmovie-export id** — the `jobId` returned in the body of
            `POST /render-fragmovie/{jobId}` (`FragMovieJobResponse.jobId`).
            NOT the analyze jobId from `/analyze/url`.
      responses:
        '200':
          description: Rendered fragmovie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderDataResponse'
        '409':
          description: Render not complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Render job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    PaginatedMatchResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MatchResponse'
        meta:
          type: object
          properties:
            page:
              type: integer
            pageSize:
              type: integer
            pageCount:
              type: integer
            rowCount:
              type: integer
    MatchResponse:
      type: object
      properties:
        jobId:
          type: string
        source:
          type: string
          enum: [url, api, rungame-url, upload, match-token, faceit]
        status:
          type: string
          enum: [Uploading, Added, ReadyForAnalyzing, Analyzing, Analyzed, Error]
        matchTime:
          type: string
          format: date-time
        map:
          type: string
        teamA:
          $ref: '#/components/schemas/Team'
        teamB:
          $ref: '#/components/schemas/Team'
        hasVideos:
          type: boolean
    Team:
      type: object
      properties:
        score:
          type: integer
          description: Final score of this team in the match.
          example: 13
        players:
          type: array
          items:
            $ref: '#/components/schemas/Player'
    Player:
      type: object
      properties:
        steamId:
          type: string
        name:
          type: string
        isMe:
          type: boolean
          description: True when this player is the authenticated user (matched by steamId).
          example: false
    AnalyzeJobStatusResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ working, done, error ]
        errorMessage:
          type: string
          nullable: true
      example:
        status: working
    AnalyzeJobResponse:
      type: object
      properties:
        jobId:
          type: string
          description: |
            **Analyze jobId** — identifies the demo analysis job. Use as
            the path `{jobId}` for `/analyze/{jobId}/status`,
            `/analyze/{jobId}/data`, `POST /render/{jobId}` and
            `POST /render-fragmovie/{jobId}`.
          example: "691798e0ae42cabe76b076d9"
    FragMovieJobResponse:
      type: object
      properties:
        jobId:
          type: string
          description: |
            **Fragmovie-export id** — identifies the stitched fragmovie
            export job. This is a NEW id, distinct from the analyze
            jobId in the request path. Use as the path `{jobId}` for
            `/render-fragmovie/{jobId}/status` and
            `/render-fragmovie/{jobId}/data` only.
          example: "65f0a1b2c3d4e5f600000900"
    Kill:
      type: object
      properties:
        weapon:
          type: string
          description: Weapon used for the kill
          example: "AK-47"
        victim:
          type: string
          description: SteamID of the victim
          example: "76561198022222222"
        victimIsMe:
          type: boolean
          description: True when the victim is the authenticated user.
          example: false
        ttd:
          type: integer
          description: Time to first damage in milliseconds
          example: 50
          nullable: true
        ttk:
          type: integer
          description: Time to kill in milliseconds
          example: 450
          nullable: true
        tick:
          type: integer
          description: |
            Absolute demo tick where this kill occurred. Use this as the
            `tick` value (after subtracting a lead-in of `n * tickRate`
            for `n` seconds of pre-roll) when building a
            `CustomClipRequest` for `POST /render-custom/{jobId}`.
          example: 154320
        killerSteamId:
          type: string
          description: |
            SteamID64 of the player who got this kill. Equal to the
            parent highlight's `steamId`; duplicated per-kill so each
            kill is self-contained when used as a
            `CustomClipRequest.povSteamId`.
          example: "76561198000000000"
        isHeadshot:
          type: boolean
          example: true
        noScope:
          type: boolean
          example: false
        throughSmoke:
          type: boolean
          example: false
        isWallBang:
          type: boolean
          example: false
    Highlight:
      type: object
      properties:
        id:
          type: string
          description: Highlight identifier
          example: "1"
        steamId:
          type: string
          description: SteamID of the player who got the kills (the highlight's killer).
          example: "76561198000000000"
        isMe:
          type: boolean
          description: True when the killer (steamId above) is the authenticated user. Use this to filter the user's own plays before rendering.
          example: true
        killCount:
          type: integer
          description: Number of kills in the clip
          example: 3
        roundNumber:
          type: integer
          description: Round number within the match
          example: 14
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the highlight
          example: [ "3k", "clutch" ]
        startTick:
          type: integer
          description: |
            Absolute demo tick of the first kill in this highlight.
            Suitable as a `CustomClipRequest.tick` for
            `POST /render-custom/{jobId}` when rendering the whole
            multi-kill scene as one custom clip. Pair with the
            top-level `tickRate` to convert to seconds.
          example: 154320
        endTick:
          type: integer
          description: |
            Absolute demo tick of the last kill in this highlight.
            Combined with `startTick` gives the inclusive kill-time
            window; pad it with your own lead-in / tail seconds to form
            a `CustomClipRequest.duration`.
          example: 156960
        kills:
          type: array
          items:
            $ref: '#/components/schemas/Kill'
    AnalyzeParticipant:
      type: object
      properties:
        steamId:
          type: string
          example: "76561198000000000"
        name:
          type: string
          example: "s1mple"
    AnalyzeDataResponse:
      type: object
      properties:
        tickRate:
          type: integer
          description: |
            Demo tick rate (ticks per second), e.g. 64 or 128. Use this
            to convert seconds ↔ ticks when building
            `CustomClipRequest.tick` / `duration` for
            `POST /render-custom/{jobId}`.
          example: 64
        participants:
          type: array
          description: |
            All match participants — the valid set of `povSteamId`
            values for `POST /render-custom/{jobId}`. Any `povSteamId`
            outside this list is rejected before credits are charged.
          items:
            $ref: '#/components/schemas/AnalyzeParticipant'
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/Highlight'
      example:
        tickRate: 64
        participants:
          - steamId: "76561198000000000"
            name: "s1mple"
          - steamId: "76561198011111111"
            name: "ZywOo"
          - steamId: "76561198022222222"
            name: "device"
        highlights:
          - id: "1"
            steamId: "76561198000000000"
            isMe: true
            killCount: 2
            roundNumber: 3
            tags: [ "2k" ]
            startTick: 24576
            endTick: 24960
            kills:
              - weapon: "AK-47"
                victim: "76561198022222222"
                victimIsMe: false
                ttd: 300
                ttk: 600
                tick: 24576
                killerSteamId: "76561198000000000"
                isHeadshot: true
                noScope: false
                throughSmoke: false
                isWallBang: false
              - weapon: "Deagle"
                victim: "76561198033333333"
                victimIsMe: false
                tick: 24960
                killerSteamId: "76561198000000000"
                isHeadshot: true
                noScope: false
                throughSmoke: false
                isWallBang: false
          - id: "2"
            steamId: "76561198011111111"
            isMe: false
            killCount: 4
            roundNumber: 11
            tags: [ "4k", "clutch" ]
            startTick: 90240
            endTick: 91200
            kills:
              - weapon: "AWP"
                victim: "76561198044444444"
                victimIsMe: false
                tick: 90240
                killerSteamId: "76561198011111111"
                isHeadshot: false
                noScope: true
                throughSmoke: false
                isWallBang: false

    RenderClipsRequest:
      allOf:
        - $ref: '#/components/schemas/RenderOptions'
        - type: object
          required:
            - highlightIds
          properties:
            highlightIds:
              type: array
              description: |
                **Highlight (scene) ids** from
                `AnalyzeDataResponse.highlights[].id`. These reference
                detected scenes in the analyze output and are valid only
                within the analyze jobId in the request path.

                Do NOT confuse these with **video jobIds** (those don't
                exist yet at this stage — they're produced by THIS
                endpoint and returned in `RenderJobResponse.jobIds`).
              items:
                type: string
              example: [ "69f23f11074495fe67b6f932", "69f23f11074495fe67b6f922" ]

    CustomClipRequest:
      type: object
      required:
        - tick
        - duration
        - povSteamId
      description: |
        One caller-defined clip selected by raw demo coordinates rather
        than by an analyzer-detected highlight. Each `CustomClipRequest`
        in `RenderCustomClipsRequest.customClips` is rendered to exactly
        one MP4.
      properties:
        tick:
          type: integer
          description: |
            Absolute demo tick where the clip should start recording.
            Must lie inside an actual round (between some
            `round.startTick` and `round.endTick`); freeze-time ticks
            between rounds are rejected with `400`.
          example: 12345
        duration:
          type: number
          description: |
            Clip length in seconds. Must be greater than `0` and at
            most `60`. `tick + duration*tickRate` must not exceed the
            demo end.
          example: 15.0
          minimum: 0
          maximum: 60
        povSteamId:
          type: string
          description: |
            SteamID64 (decimal string) of the player whose POV the
            camera follows. Must be a participant of the match (listed
            under `teamA.players[]` / `teamB.players[]` in
            `/public-api/matches`).
          example: "76561198044444444"

    RenderCustomClipsRequest:
      allOf:
        - $ref: '#/components/schemas/CustomRenderOptions'
        - type: object
          required:
            - customClips
          description: |
            Body of `POST /public-api/render-custom/{jobId}`. Visual
            render options inherited from `CustomRenderOptions` (same
            flags as `RenderOptions` minus `tickPresetInSeconds`, since
            each clip's own `duration` is the authoritative window
            length).
          properties:
            customClips:
              type: array
              minItems: 1
              description: |
                Caller-defined clips. Each entry renders to one MP4
                starting at `tick` for `duration` seconds from
                `povSteamId`'s point of view.
              items:
                $ref: '#/components/schemas/CustomClipRequest'
              example:
                - tick: 12345
                  duration: 12.0
                  povSteamId: "76561198044444444"
                - tick: 18900
                  duration: 8.5
                  povSteamId: "76561198055555555"


    RenderFragMovieRequest:
      type: object
      required:
        - videoJobIds
        - introTitle
      properties:
        name:
          type: string
          description: Optional saved montage/export name. Defaults to `Fragmovie over API`.
          example: Clutch Protocol
        videoJobIds:
          type: array
          description: |
            **Video jobIds** from a previously-completed `/public-api/render/{jobId}`
            call (the strings in `RenderJobResponse.jobIds`, also the keys
            returned by `/public-api/render/{jobId}/status`).

            These are NOT the `AnalyzeDataResponse.highlights[].id`
            values. The fragmovie stitcher operates on already-rendered
            clip videos, so each id you pass must:
              1. belong to the authenticated user, and
              2. be a clip video whose render status is `done`.

            Supplying analyze highlight ids (or videoJobIds whose render
            isn't finished yet) returns `400 No rendered clips found for
            the supplied videoJobIds.` before any credits are charged.
          items:
            type: string
          example: [ "65f0a1b2c3d4e5f600000123", "65f0a1b2c3d4e5f600000124" ]
        introTitle:
          type: string
          description: Displayed Intro Title
          example: Katowice '25

    RenderJobResponse:
      type: object
      properties:
        jobIds:
          type: array
          description: |
            **Video jobIds** — one per queued clip render (a new id space,
            distinct from the analyze jobId in the request path).

            Use these as:
              * keys when polling `GET /render/{jobId}/status` and reading
                `GET /render/{jobId}/data` (the `{jobId}` path segment there
                is still the analyze jobId — these video jobIds appear as
                map keys inside the response).
              * the contents of `RenderFragMovieRequest.videoJobIds` when
                stitching the rendered clips into a fragmovie.
          items:
            type: string
          example: [ "65f0a1b2c3d4e5f600000123", "65f0a1b2c3d4e5f600000124", "65f0a1b2c3d4e5f600000125" ]

    RenderJobStatusResponse:
      type: object
      description: |
        Map of **video jobId** → render status for clip videos on an
        analyze job (covers clips queued by both
        `POST /render/{jobId}` and `POST /render-custom/{jobId}`). The
        keys are video jobIds from `RenderJobResponse.jobIds`, NOT
        analyze jobIds or highlight ids.
      additionalProperties:
        type: object
        properties:
          status:
            type: string
            enum: [ working, done, error ]
            description: Current status of the video render job
          estimatedFinishAt:
            type: string
            format: date-time
            description: Estimated finish time for the video render job
            example: "2025-11-20T12:00:00Z"
          errorMessage:
            type: string
            description: |
              Only present when `status` is `error`. User-friendly
              description of why the render failed (e.g. demo
              incompatible with the current renderer, demo download
              failed, renderer temporarily unavailable). Surface this
              message to the user.
            example: "Demo is incompatible with the current renderer — you need a recent demo."
        required:
          - status
      example:
        "65f0a1b2c3d4e5f600000123":
          status: done
          estimatedFinishAt: "2025-11-20T12:00:00Z"
        "65f0a1b2c3d4e5f600000124":
          status: working
          estimatedFinishAt: "2025-11-20T12:00:00Z"
        "65f0a1b2c3d4e5f600000125":
          status: error
          estimatedFinishAt: "2025-11-20T12:00:00Z"
          errorMessage: "Demo is incompatible with the current renderer — you need a recent demo."

    RenderDataResponse:
      type: object
      properties:
        highlightClips:
          type: object
          description: |
            Map keyed by **video jobId** (for `/render/{jobId}/data`) or
            by **fragmovie-export id** (for `/render-fragmovie/{jobId}/data`).
            In neither case are the keys analyze jobIds or highlight
            (scene) ids.
          additionalProperties:
            type: object
            properties:
              clipUrl:
                type: string
                format: uri
                example: https://cdn.example.com/renders/uuid/clip-1.mp4
              clipLengthSeconds:
                type: number
                format: float
                example: 15.32
      example:
        highlightClips:
          "65f0a1b2c3d4e5f600000123":
            clipUrl: https://cdn.example.com/renders/123/clip-1.mp4
            clipLengthSeconds: 15.32
          "65f0a1b2c3d4e5f600000124":
            clipUrl: https://cdn.example.com/renders/123/clip-2.mp4
            clipLengthSeconds: 20.10
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: Not enough credits
    CreditsCalcRequest:
      allOf:
        - $ref: '#/components/schemas/RenderOptions'
        - type: object
          required:
            - sceneAmount
          properties:
            sceneAmount:
              type: integer
              description: "Number of scenes to render"
              example: 5

    CustomCreditsCalcRequest:
      allOf:
        - $ref: '#/components/schemas/CustomRenderOptions'
        - type: object
          required:
            - customClips
          description: |
            Body of `POST /public-api/custom-credits-calc`. Same shape
            as `RenderCustomClipsRequest` (minus the path-bound analyze
            jobId), so callers can copy-paste the same payload they
            intend to render and see the exact cost.

            Only `duration` affects pricing — `tick` and `povSteamId`
            are accepted (and required, for payload symmetry with the
            actual render endpoint) but ignored.
          properties:
            customClips:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/CustomClipRequest'
              example:
                - tick: 12345
                  duration: 12.0
                  povSteamId: "76561198044444444"
                - tick: 18900
                  duration: 8.5
                  povSteamId: "76561198055555555"
    FragMovieCreditsCalcRequest:
      type: object
      required:
        - videoJobIds
      properties:
        videoJobIds:
          type: array
          description: |
            **Video jobIds** from a previously-completed `/public-api/render/{jobId}`
            call. Same input as `RenderFragMovieRequest.videoJobIds`; NOT
            analyze highlight ids.
          items:
            type: string
          example:
            - 65f0a1b2c3d4e5f600000123
            - 65f0a1b2c3d4e5f600000124
    CreditsCalcResponse:
      type: object
      properties:
        credits:
          type: integer
          example: 10
    CustomRenderOptions:
      type: object
      description: |
        Visual render options applied to every clip in a single
        request. Subset of `RenderOptions`; deliberately omits
        `tickPresetInSeconds` because each `CustomClipRequest` carries
        its own authoritative `duration` — a global lead-time would
        have no meaning here.
      properties:
        hideUi:
          type: boolean
          description: Hide all UI elements
          default: false
        showXRay:
          type: boolean
          description: Show player outlines through walls
          default: false
        showTracers:
          type: boolean
          description: Show bullet tracers
          default: false
        hideKillfeed:
          type: boolean
          description: Hide the killfeed
          default: false
        hideWatermark:
          type: boolean
          description: Hide the demo-slap watermark
          default: false
        highResolution:
          type: boolean
          description: |
            Render at 1920×1080 (true) instead of 1280×720 (false).
            1080p applies a 1.5× credit multiplier.
          default: true
    RenderOptions:
      allOf:
        - $ref: '#/components/schemas/CustomRenderOptions'
        - type: object
          properties:
            tickPresetInSeconds:
              type: integer
              description: Seconds to record before the kill happens
              default: 7
              minimum: 5
              maximum: 15
