openapi: 3.0.0
info:
  title: demo-slap Public API
  version: 2.0.0
  description: |
    Welcome to the demo-slap Public API! For access and support, please join our Discord community: [https://discord.gg/8nfh26W9wQ](https://discord.gg/8nfh26W9wQ)

    ## ID Glossary

    The pipeline produces four distinct id types. Mixing them up is the #1 source of `400` errors, so use this table when wiring the endpoints together:

    | Id type             | Issued by                                | Consumed as                                                              | Example                  |
    |---------------------|------------------------------------------|--------------------------------------------------------------------------|--------------------------|
    | **analyze jobId**   | `POST /public-api/analyze/url`           | path `{jobId}` for `/analyze/*`, `/render/*`, `/render-fragmovie` (POST) | `691798e0ae42cabe76b076d9` |
    | **highlight id**    | `GET /public-api/analyze/{jobId}/data` (`highlights[].id`) | `RenderUploadRequest.highlightIds` on `POST /render/{jobId}`            | `"1"`, `"2"`, `"5"`        |
    | **video jobId**     | `POST /public-api/render/{jobId}` (`RenderJobResponse.jobIds[]`) | keys of `/render/{jobId}/status` and `/render/{jobId}/data`; `RenderFragMovieRequest.videoJobIds` on `POST /render-fragmovie/{jobId}` | `65f0a1b2c3d4e5f600000123` |
    | **fragmovie-export id** | `POST /public-api/render-fragmovie/{jobId}` (`FragMovieJobResponse.jobId`) | path `{jobId}` for `/render-fragmovie/{jobId}/status` and `/render-fragmovie/{jobId}/data` | `65f0a1b2c3d4e5f600000900` |

    Note that the **path** `{jobId}` segment means different things depending on the endpoint:
      * `/analyze/{jobId}/*`, `/render/{jobId}`, `/render/{jobId}/*`, `/render-fragmovie/{jobId}` (POST) → **analyze jobId**
      * `/render-fragmovie/{jobId}/status`, `/render-fragmovie/{jobId}/data` → **fragmovie-export id**

    ## 2.0.0 breaking change

    `RenderFragMovieRequest.highlightIds` was renamed to `videoJobIds`. Existing 1.x clients calling `POST /public-api/render-fragmovie/{jobId}` with `highlightIds` will receive `400 Need videoJobIds`. The new name reflects what the field actually accepts (video jobIds from `/public-api/render/{jobId}`, not analyze highlight ids).
servers:
  - url: https://api.demo-slap.net

paths:
  /public-api/matches:
    get:
      tags:
        - Match
      summary: Get user matches
      description: Retrieve a paginated list of matches for the authenticated user.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number for pagination.
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 10
          description: Number of matches per page.
      responses:
        '200':
          description: A paginated list of user matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMatchResponse'
        '401':
          description: API key missing or invalid
  /public-api/credits-calc:
    post:
      tags:
        - Calculate
      summary: Calculate credit costs for a render
      description: Calculate how many credits a render job would cost.
      security:
        - ApiKeyAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditsCalcRequest'
      responses:
        '200':
          description: Credit cost
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsCalcResponse'
        '401':
          description: API key missing or invalid
  /public-api/analyze/url:
    post:
      tags:
        - Analyze
      summary: Queue analysis for a demo
      description: Starts analysis for a demo provided by URL.
      security:
        - ApiKeyAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Analysis job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeJobResponse'
        '401':
          description: API key missing or invalid
  /public-api/analyze/{jobId}/status:
    get:
      tags:
        - Analyze
      summary: Get analyze job status
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      responses:
        '200':
          description: Analyze job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeJobStatusResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Analyze job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /public-api/analyze/{jobId}/data:
    get:
      tags:
        - Analyze
      summary: Get analyze results (highlights metadata)
      description: |
        Returns structured highlight metadata when status is `done`.
        Each `highlights[].id` is a **highlight (scene) id** — pass
        these in `RenderUploadRequest.highlightIds` to
        `POST /render/{jobId}` to render clips.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      responses:
        '200':
          description: Analyze results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeDataResponse'
        '409':
          description: Analysis not complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Analyze job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render/{jobId}:
    post:
      tags:
        - Render
      summary: Queue a render job from analyzed highlights
      description: |
        Queue one MP4 render per highlight (scene) selected from the
        analyze output. Returns immediately with a list of **video
        jobIds**; rendering runs in the background.

        Path `{jobId}` is the **analyze jobId** (scopes which match's
        highlights are accepted). The `highlightIds` body field is the
        **highlight (scene) ids** from
        `AnalyzeDataResponse.highlights[].id`. The response `jobIds`
        are the new **video jobIds** in their own id space.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenderUploadRequest'
      responses:
        '200':
          description: |
            Render job accepted. The returned `jobIds` are **video
            jobIds** — a new id space, NOT the analyze jobId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJobResponse'
        '400':
          description: Validation error (invalid highlight ids or missing jobId)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Analyze data not found for given jobId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render/{jobId}/status:
    get:
      tags:
        - Render
      summary: Get render job status
      description: |
        Returns a map of **video jobId** → status for every clip queued
        by `POST /render/{jobId}`. Path `{jobId}` is the **analyze
        jobId**, not a video jobId — the video jobIds appear as the
        keys of the response object.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      responses:
        '200':
          description: Render job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJobStatusResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Render job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render/{jobId}/data:
    get:
      tags:
        - Render
      summary: Get rendered clip URLs
      description: |
        Returns clip URLs and per-clip duration once every video render
        in the batch is `done`. Path `{jobId}` is the **analyze
        jobId** — the keys inside `highlightClips` are the **video
        jobIds** from the original `POST /render/{jobId}` response.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`).
      responses:
        '200':
          description: Rendered clips
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderDataResponse'
        '409':
          description: Render not complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Render job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render-fragmovie/{jobId}:
    post:
      tags:
        - Fragmovie
      summary: Stitch already-rendered clips into a fragmovie
      description: |
        Stitches a set of already-rendered video clips into a single
        fragmovie MP4.

        **Prerequisite pipeline:**
          1. `POST /public-api/analyze/url` → analyze jobId
          2. `POST /public-api/render/{jobId}` → array of video jobIds
          3. Wait until every video jobId is `done` via
             `/public-api/render/{jobId}/status`
          4. Pass those video jobIds as `videoJobIds` to **this**
             endpoint. The path `{jobId}` is the analyze jobId from step 1.

        Analyze highlight (scene) ids and unfinished clips are rejected
        with 400 before any credits are deducted. See
        `RenderFragMovieRequest.videoJobIds` for the full description.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Analyze jobId** from `POST /analyze/url`
            (`AnalyzeJobResponse.jobId`). Path scoping only — the actual
            clips to stitch come from `videoJobIds` in the body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenderFragMovieRequest'
      responses:
        '200':
          description: |
            Fragmovie render job accepted. The returned `jobId` is a
            **fragmovie-export id** (a new id space) — use it as the path
            `{jobId}` for `/render-fragmovie/{jobId}/status` and
            `/render-fragmovie/{jobId}/data`. It is NOT the analyze
            jobId you passed in the request path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FragMovieJobResponse'
        '400':
          description: |
            Validation error. Common causes:
              * `videoJobIds` empty or missing
              * none of the supplied `videoJobIds` resolve to a
                rendered FragMovie clip belonging to the user (e.g. the
                caller passed analyze highlight ids instead of video
                jobIds, or the underlying renders are still in progress).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Analyze data not found for given jobId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render-fragmovie/{jobId}/status:
    get:
      tags:
        - Fragmovie
      summary: Get fragmovie render job status
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Fragmovie-export id** — the `jobId` returned in the body of
            `POST /render-fragmovie/{jobId}` (`FragMovieJobResponse.jobId`).
            NOT the analyze jobId from `/analyze/url`.
      responses:
        '200':
          description: Fragmovie render job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeJobStatusResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Render job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public-api/render-fragmovie/{jobId}/data:
    get:
      tags:
        - Fragmovie
      summary: Get rendered fragmovie URL
      description: Returns fragmovie URL after the render job is done.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
          description: |
            **Fragmovie-export id** — the `jobId` returned in the body of
            `POST /render-fragmovie/{jobId}` (`FragMovieJobResponse.jobId`).
            NOT the analyze jobId from `/analyze/url`.
      responses:
        '200':
          description: Rendered fragmovie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderDataResponse'
        '409':
          description: Render not complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: API key missing or invalid
        '404':
          description: Render job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    PaginatedMatchResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MatchResponse'
        meta:
          type: object
          properties:
            page:
              type: integer
            pageSize:
              type: integer
            pageCount:
              type: integer
            rowCount:
              type: integer
    MatchResponse:
      type: object
      properties:
        jobId:
          type: string
        source:
          type: string
          enum: [url, api, rungame-url, upload, match-token, faceit]
        status:
          type: string
          enum: [Uploading, Added, ReadyForAnalyzing, Analyzing, Analyzed, Error]
        matchTime:
          type: string
          format: date-time
        map:
          type: string
        teamA:
          $ref: '#/components/schemas/Team'
        teamB:
          $ref: '#/components/schemas/Team'
        hasVideos:
          type: boolean
    Team:
      type: object
      properties:
        score:
          type: integer
          description: Final score of this team in the match.
          example: 13
        players:
          type: array
          items:
            $ref: '#/components/schemas/Player'
    Player:
      type: object
      properties:
        steamId:
          type: string
        name:
          type: string
        isMe:
          type: boolean
          description: True when this player is the authenticated user (matched by steamId).
          example: false
    AnalyzeJobStatusResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ working, done, error ]
        errorMessage:
          type: string
          nullable: true
      example:
        status: working
    AnalyzeJobResponse:
      type: object
      properties:
        jobId:
          type: string
          description: |
            **Analyze jobId** — identifies the demo analysis job. Use as
            the path `{jobId}` for `/analyze/{jobId}/status`,
            `/analyze/{jobId}/data`, `POST /render/{jobId}` and
            `POST /render-fragmovie/{jobId}`.
          example: "691798e0ae42cabe76b076d9"
    FragMovieJobResponse:
      type: object
      properties:
        jobId:
          type: string
          description: |
            **Fragmovie-export id** — identifies the stitched fragmovie
            export job. This is a NEW id, distinct from the analyze
            jobId in the request path. Use as the path `{jobId}` for
            `/render-fragmovie/{jobId}/status` and
            `/render-fragmovie/{jobId}/data` only.
          example: "65f0a1b2c3d4e5f600000900"
    Kill:
      type: object
      properties:
        weapon:
          type: string
          description: Weapon used for the kill
          example: "AK-47"
        victim:
          type: string
          description: SteamID of the victim
          example: "76561198022222222"
        victimIsMe:
          type: boolean
          description: True when the victim is the authenticated user.
          example: false
        ttd:
          type: integer
          description: Time to first damage in milliseconds
          example: 50
          nullable: true
        ttk:
          type: integer
          description: Time to kill in milliseconds
          example: 450
          nullable: true
    Highlight:
      type: object
      properties:
        id:
          type: string
          description: Highlight identifier
          example: "1"
        steamId:
          type: string
          description: SteamID of the player who got the kills (the highlight's killer).
          example: "76561198000000000"
        isMe:
          type: boolean
          description: True when the killer (steamId above) is the authenticated user. Use this to filter the user's own plays before rendering.
          example: true
        killCount:
          type: integer
          description: Number of kills in the clip
          example: 3
        roundNumber:
          type: integer
          description: Round number within the match
          example: 14
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the highlight
          example: [ "3k", "clutch" ]
        kills:
          type: array
          items:
            $ref: '#/components/schemas/Kill'
    AnalyzeDataResponse:
      type: object
      properties:
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/Highlight'
      example:
        highlights:
          - id: "1"
            steamId: "76561198000000000"
            isMe: true
            killCount: 2
            roundNumber: 3
            tags: [ "2k" ]
            kills:
              - weapon: "AK-47"
                victim: "76561198022222222"
                victimIsMe: false
                ttd: 300
                ttk: 600
              - weapon: "Deagle"
                victim: "76561198033333333"
                victimIsMe: false
          - id: "2"
            steamId: "76561198011111111"
            isMe: false
            killCount: 4
            roundNumber: 11
            tags: [ "4k", "clutch" ]
            kills:
              - weapon: "AWP"
                victim: "76561198044444444"
                victimIsMe: false
              - weapon: "AWP"
                victim: "76561198055555555"
                victimIsMe: false
              - weapon: "AWP"
                victim: "76561198066666666"
                victimIsMe: false
              - weapon: "AWP"
                victim: "76561198077777777"
                victimIsMe: false

    RenderUploadRequest:
      allOf:
        - $ref: '#/components/schemas/RenderOptions'
        - type: object
          required:
            - highlightIds
          properties:
            highlightIds:
              type: array
              description: |
                **Highlight (scene) ids** from
                `AnalyzeDataResponse.highlights[].id`. These reference
                detected scenes in the analyze output and are valid only
                within the analyze jobId in the request path.

                Do NOT confuse these with **video jobIds** (those don't
                exist yet at this stage — they're produced by THIS
                endpoint and returned in `RenderJobResponse.jobIds`).
              items:
                type: string
              example: [ "1", "2", "5" ]


    RenderFragMovieRequest:
      type: object
      required:
        - videoJobIds
        - introTitle
      properties:
        videoJobIds:
          type: array
          description: |
            **Video jobIds** from a previously-completed `/public-api/render/{jobId}`
            call (the strings in `RenderJobResponse.jobIds`, also the keys
            returned by `/public-api/render/{jobId}/status`).

            These are NOT the `AnalyzeDataResponse.highlights[].id`
            values. The fragmovie stitcher operates on already-rendered
            clip videos, so each id you pass must:
              1. belong to the authenticated user, and
              2. be a clip video whose render status is `done`.

            Supplying analyze highlight ids (or videoJobIds whose render
            isn't finished yet) returns `400 No rendered clips found for
            the supplied videoJobIds.` before any credits are charged.
          items:
            type: string
          example: [ "65f0a1b2c3d4e5f600000123", "65f0a1b2c3d4e5f600000124" ]
        introTitle:
          type: string
          description: Displayed Intro Title
          example: Katowice '25

    RenderJobResponse:
      type: object
      properties:
        jobIds:
          type: array
          description: |
            **Video jobIds** — one per queued clip render (a new id space,
            distinct from the analyze jobId in the request path).

            Use these as:
              * keys when polling `GET /render/{jobId}/status` and reading
                `GET /render/{jobId}/data` (the `{jobId}` path segment there
                is still the analyze jobId — these video jobIds appear as
                map keys inside the response).
              * the contents of `RenderFragMovieRequest.videoJobIds` when
                stitching the rendered clips into a fragmovie.
          items:
            type: string
          example: [ "65f0a1b2c3d4e5f600000123", "65f0a1b2c3d4e5f600000124", "65f0a1b2c3d4e5f600000125" ]

    RenderJobStatusResponse:
      type: object
      description: |
        Map of **video jobId** → render status (one entry per clip
        queued by `POST /render/{jobId}`). The keys are video jobIds
        from `RenderJobResponse.jobIds`, NOT analyze jobIds or
        highlight ids.
      additionalProperties:
        type: object
        properties:
          status:
            type: string
            enum: [ working, done, error ]
            description: Current status of the video render job
          estimatedFinishAt:
            type: string
            format: date-time
            description: Estimated finish time for the video render job
            example: "2025-11-20T12:00:00Z"
        required:
          - status
      example:
        "65f0a1b2c3d4e5f600000123":
          status: done
          estimatedFinishAt: "2025-11-20T12:00:00Z"
        "65f0a1b2c3d4e5f600000124":
          status: working
          estimatedFinishAt: "2025-11-20T12:00:00Z"

    RenderDataResponse:
      type: object
      properties:
        highlightClips:
          type: object
          description: |
            Map keyed by **video jobId** (for `/render/{jobId}/data`) or
            by **fragmovie-export id** (for `/render-fragmovie/{jobId}/data`).
            In neither case are the keys analyze jobIds or highlight
            (scene) ids.
          additionalProperties:
            type: object
            properties:
              clipUrl:
                type: string
                format: uri
                example: https://cdn.example.com/renders/uuid/clip-1.mp4
              clipLengthSeconds:
                type: number
                format: float
                example: 15.32
      example:
        highlightClips:
          "65f0a1b2c3d4e5f600000123":
            clipUrl: https://cdn.example.com/renders/123/clip-1.mp4
            clipLengthSeconds: 15.32
          "65f0a1b2c3d4e5f600000124":
            clipUrl: https://cdn.example.com/renders/123/clip-2.mp4
            clipLengthSeconds: 20.10
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: Not enough credits
    CreditsCalcRequest:
      allOf:
        - $ref: '#/components/schemas/RenderOptions'
        - type: object
          required:
            - sceneAmount
          properties:
            sceneAmount:
              type: integer
              description: "Number of scenes to render"
              example: 5
    CreditsCalcResponse:
      type: object
      properties:
        credits:
          type: integer
          example: 10
    RenderOptions:
      type: object
      properties:
        hideUi:
          type: boolean
          description: Hide all UI elements
          default: false
        showXRay:
          type: boolean
          description: Show player outlines through walls
          default: false
        showTracers:
          type: boolean
          description: Show bullet tracers
          default: false
        hideKillfeed:
          type: boolean
          description: Hide the killfeed
          default: false
        hideWatermark:
          type: boolean
          description: Hide the demo-slap watermark
          default: false
        tickPresetInSeconds:
          type: integer
          description: Seconds to record before the kill happens
          default: 7
          minimum: 5
          maximum: 15
